/* ==========================//
 *     CODE ADRIANA FORUM
 * ==========================*/
/** {
	outline: 1px dashed #ccc;
}
*/

.yellow {
	background-color: #FFF8E1;
}

.right {
	text-align: right;
}

.border-right {
	border-right: 1px solid #ccc;
}

.border-left {
	border-right: 1px solid #ccc;
}



/* top-bottom-margin-buffer */
.tb-margin-buffer {
	margin-top: 10px;
	margin-bottom: 10px;
}

.rl-margin-buffer {
	margin-left: 10px;
	margin-right: 10px;
}

#btn_f_create {
	background-color: #FF9100;
	color: #000;
}

/* -- forum_list -- */
.forum_list {
	margin: 10px auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #eeeeee;
	box-shadow: 2px 2px 2px #ccc;
}

#forum_searchbar {
	background-color: #726A71;
	color: white;
	height: 60px;
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

label[for=forum_search] {
	font-size: 2rem;
}

#forum_search {
	height: 30px;
	width: 250px;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #000;
}

#btn_search {
	background-color: #F76C6F;
}

.new_post {
	background-color: orange;
}

.button {
	min-width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;	
}

/* -- forum_detail -- */

.forum_title {
	margin: 5px auto;
	padding: 5px;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	background-color: #eeeeee;
}

.a_reply {
	display: block;
	width: 150px;
	margin: 10px auto;
	text-align: center;
}

/* -- ajouter_invite -- */

#invite_div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#fieldset_ajout {
	max-width: 300px; 
	margin-left:20px;
}

.one-third {
	display: inline-block;
	width: 40%;
	padding: 20px;
	box-sizing: border-box;
}

.two-thirds {
	width: 59%;
	padding: 20px;
	box-sizing: border-box;
	border-left: 2px solid #eee;
}

.inv-radio {
	padding: 15px 10px;
	border-bottom: 1px solid #ccc;

}

.inv-radio>p {
	display: inline-block;
	margin-bottom: 0;
	width: 60%;

}

.inv-h2 {
	background-color: rgba(13,71,161,0.3);
	padding: 10px;
	border-radius: 5px;
}

.btn-blue {
	background-color: rgba(13,71,161,0.3);

}

.invit-error {
	padding: 3px;
	color: red;
	border-radius: 4px;
	border: 1px solid red;
}

.invit-error>p {
	padding: 0;
	margin: 0 0 5px 5px;
}

