/* ==========================//
 *     CODE ADRIANA FORUM
 * ==========================*/
.yellow {
	background-color: #FFF8E1;
}

.right {
	text-align: right;
}

.border-right {
	border-right: 1px solid #ccc;
}

/* top-bottom-margin-buffer */
.tb-margin-buffer {
	margin-top: 10px;
	margin-bottom: 10px;
}

.rl-margin-buffer {
	margin-left: 10px;
	margin-right: 10px;
}

#btn_f_create {
	background-color: #FF9100;
	color: #000;
}

/* -- forum_list -- */
.forum_list {
	margin: 10px auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #eeeeee;
	box-shadow: 2px 2px 2px #ccc;
	border-radius: 15px;
}

#forum_searchbar {
	background-color: rgba(13,71,161,0.3);
	color: white;
	height: 60px;
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#forum_searchbar h3{
	margin: 0;
}

label[for=forum_search] {
	font-size: 2rem;
}

#forum_search {
	height: 30px;
	width: 250px;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #000;
}

#btn_search {
	background-color: rgba(13,71,161,0.8);
}

.new_post {
	background-color: rgba(13,71,161,0.5);
}

.button {
	min-width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;	
}

/* -- forum_create -- */


/* -- forum_detail -- */

.forum_title {
	margin: 5px auto;
	padding: 5px;
	border-radius: 4px;
	background-color: rgba(13,71,161,0.2);
}

.forum_reponses {
	margin: 5px auto;
	padding: 5px;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	background-color: #eeeeee;
}

.a_reply {
	display: block;
	width: 150px;
	margin: 10px auto;
	text-align: center;
	background: rgba(13,71,161,0.8);
}

.a_reply:hover {
	background: rgba(13,71,161,0.4);
}

.bloc_question {
	background: rgba(13,71,161,0.5);
}

.bloc_reponse {
	background: #fff;
}

.reponses {
	margin: 10px auto;
	padding: 20px;
	background-color: #eeeeee;
	border: 1px solid #eeeeee;
	box-shadow: 2px 2px 2px #ccc;
	border-radius: 15px;
}

