@import url('https://fonts.googleapis.com/css?family=Poiret+One');


body {
	width: 100%;
	font-family: 'Poiret One';
	height: 100%;
}

.navbar {
	margin: 0;
}

.blocHome {
	text-align: center;
	padding: 50px;
}


.blocHome2{
	background-color: #e7e7e7;
	text-align: center;
	padding: 50px;
}


/* ==========================//
 *        CODE ADRIANA
 * ==========================*/

/* top-bottom-margin-buffer */
.tb-margin-buffer {
	margin-top: 10px;
	margin-bottom: 10px;
}

#btn_f_create {
	background-color: #FF9100;
	color: #000;
}