@import url('https://fonts.googleapis.com/css?family=Poiret+One');


body {
	background-image: url('../img/fond2.jpg');
	width: 100%;
	background-repeat: no-repeat;
	font-family: 'Poiret One';
	height: 100%;
}